    <div class="containerr">
	<div class="screen">
		<div class="screen__content">
			<form asp-action="ForgottenPassword" class="login">
                 
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <span id="blink" style= "border:solid white .5px; height:5vh; font-size:13px;color:red; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Enter your mail</span>
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input name ="userEmail" type="email" class="login__input" placeholder="User Email">
				</div>
				<button type="submit" class="button login__submit">
					<span class="button__text">Submit</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>			
			</form>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
