  <h2>Registration Portal</h2>
   <div id="sig-up-option">
    <div >
        <a id="sign-option" asp-action="CreateFarmer" asp-controller="Farmer">
        <div><img src="~/Data/farmer.jpeg" alt="farmer demo" height="90vh" width=" 90vw"> </div>
        <div><span id="sign-text">As Farmer</span></div>
        </a>
    </div>
    <div >
        <a id="sign-option" asp-action="CreateBuyer" asp-controller="Buyer">
         <div><img src="~/Data/profile.webp" alt="farmer demo" height="90vh" width=" 90vw"> </div>
        <div><span id="sign-text">As Buyer</span></div>
        </a>
    </div>
   </div>