 
 <div class="form-head"><span class="reg-form">Buyer Policy are listed below</span></div>
        <ol type="I">
          <li> Buyer needs to visit his or her portal when ever he or she needs to see available products around his or Local Government.</li>
          <li> If Buyer needs to see products from other local Government,he or she needs to edit his/her profile and change Sate and Local Government</li>
        <li> As a Buyer you can search a product by the product name.</li>
        <li> Also you can search products own by a particular Farmer by inputing the farmer's user-name or email.</li>
        <li> Also,as a buyer you should be able to know the worth,available quantity,location,availability and see the picture of a particular product at a glance before buying it.</li>
        <li>Buyer can also see the stars a particular farmer have at a glance</li>
         <li>And the stars determines the validity of that particular farmer</li>
        <li> At your first order, you will be redirected to a page where you will pay a token of <b>₦300.00</b>,and after then,no more token.The token will be use throughout your experience with the application.But as an Admin your payment is done by default </li>
        <li >After the payment have been done once successfully,then you can go back and place your orders,as much as possible</li>
        <li> Once the order is done successfuly,the order will appear at the appropriate farmer's portal and also it will also be found in 'My Orders' from buyer's end.</li>
         <li> At 'My Orders' from buyer's end the folowing tables are there: <b>Ordered Products</b> and <b>Orders accepted by Farmers</b></li>
         <li> <b>Ordered Products</b> table is for ordered products that are yet to be accepted by farmer</li>
           <li> <b>Orders accepted by Farmers</b> table is for ordered products that are accepted by farmer</li>
           <li> if an order is still on ordered product,as a buyer you can still delete the order before the farmer accept the order</li>
           <li> Once an ordre moves to Orderes accepted by Farmers,as a buyer you only have two options: <b>Delivered</b> button and <b>Not delivered</b> button</li>
           <li> If and order is accepted by a farmer will contact the buyer and discuss business</li>
            <li> If the delivery date agreement during conversation passes,the customer can call the farmer to know what is keeping them so long or click on the not delivered button for complain to <b>Wazobia Agro Express</b></li>
             <li> Buyer should note that full payment before delivery is at buyer's risk</li>
             <li> And if a farmer requested for part of payment,Buyer shouldn't pay more than <b>₦3000.00</b>, no matter the quantity he or she is buying as part of payment</li>
              <li> For any complain for clarification contact Mr Adebayo on <b>08087054632</b></li>
       </ol>

         <div class="form-bottom">
          <a asp-action="CreateBuyer" asp-controller="Buyer"><button style="border: 0%;" class="submit-form" type="submit"> I Agree </button></a>
        </div>