@{
    ViewData["Title"] = "My Profile";
}
<h1>@ViewData["Title"]</h1>

 <div class="bodyy">
        <div class="product">
            <div class="text">Available Product</div>
            <div><img src="~/Data/div.jpeg" alt="product" width="150vw" height="130vh"></div>
        </div>
        <div class="div">
            <div class="cart"><i class="fa-solid fa-cart-shopping"></i> <span>My Orders</span></div>
            <div class="cart"><i class="fa-regular fa-user"></i><span>My Profile</span></div>
        </div>
       
    </div>
    </div>


