 @using System.Security.Claims;
 <form asp-action="Payment" asp-controller="RequestedProduct" id="paymentForm">
        <div class="form-group">
          <input type="email" id="email-address" value="@User.FindFirst(ClaimTypes.Email).Value" required hidden/>
        </div>
        <div class="form-group">
          <input type="tel" id="amount" value="500" required hidden />
        </div>
         <div class="form-head"><span class="reg-form">Payment Request</span></div>
    <div>
        <h3 style="text-align: center;">If you are seeing this,that means this is the first time you are making a request</h3>
        <h3>To be sure that you are intrested in our products,you need to pay ₦500 (using @User.FindFirst(ClaimTypes.Email).Value) for farmers to recieve your orders and this is done just once.</h3>
    </div>
        <div class="form-bottom">
          <button asp-route-userEmail="@User.FindFirst(ClaimTypes.Email).Value" style="border: 0%;" class="submit-form" type="submit" onclick="payWithPaystack()"> Pay </button>
        </div>
      </form>