@using System.Security.Claims
@{
    ViewData["Title"] = "My Dashboard";
}
<h1>@ViewData["Title"]</h1>
@if(User.FindFirst(ClaimTypes.Anonymous) != null)
{
    <h5>Hello! @User.FindFirst(ClaimTypes.Anonymous).Value</h5>
}

 <div class="bodyy">
       
        <a asp-action="MyProducts" asp-controller="Product" class="product">
            <div class="text">My Products</div>
            <div><img src="~/Data/agric6.jpeg" alt="product" width="150vw" height="130vh"></div>
        </a>
        <div class="div">
            <a asp-action="MyOffers" asp-controller="Farmer" class="cart"><i class="fa-solid fa-code-pull-request"></i> <span>My Offers</span></a>
            <a class="cart" asp-action="AvailableProducts" asp-controller="Product"><img src="~/Data/div.jpeg" alt="product" width="63vw" height="52vh"><span>Other products</span></a>
        </div>
       
    </div>
    </div>